<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="https://res.cloudinary.com/dv352zvqc/image/upload/v1618594529/Finterest/a9hs806usrisqmyayvcf.png" style="width: 30px; heigth: 30px;" class="me-2">Finterest</a>
        <form class="d-flex">
            <a href="/images/add" class="btn btn-secondary">Upload</a>
        </form>
    </div>
</nav>